@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}

:root {
    --primary-green: hsl(75,94%,57%);
    --white: hsl(0,0%, 100%);
    --grey: hsl(0,0%,20%);
    --dark-grey: hsl(0,0%,12%);
    --off-black: hsl(0,0%,8%);
}


body {
    background-color: var(--off-black);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.card{
    background-color: var(--dark-grey);
}
.location {
    font-family: "Inter", serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-green);
}
#name{
    color: var(--white);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
}